<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    </head>
    <body>
        <p>Thank you for booking Flight <%= @booking.flight_id %></p>
        <p>Your trip details can be viewed <%= link_to "here", @url %>.</p>
    </body>
</html>